# US Accidents
- https://www.kaggle.com/datasets/sobhanmoosavi/us-accidents dataset on kaggle
- https://smoosavi.org/datasets/us_accidents creator of the dataset
-https://www.youtube.com/watch?v=xxg4Vm-Xg9g plotting a shapefile with geopandas

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import geopandas as gpd
#!pip install folium
import folium

def get_cols(data):
    return list(data.columns)

#import plotly.io as pio
#pio.renderers.default='notebook'

C:\Users\menam\anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.4
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
# Read in data
accidents = pd.read_csv('data/US_Accidents_Dec21_updated.csv')

# Convert time columns into datetime
accidents['Start_Time'] = pd.to_datetime(accidents['Start_Time'])
accidents['End_Time'] = pd.to_datetime(accidents['End_Time'])

# include the day of the week, hour where the accident took place
accidents['Day_Of_Week'] = accidents['Start_Time'].dt.day_of_week
accidents['Start_Hour'] = accidents['Start_Time'].dt.hour
accidents['Start_Minute'] = accidents['Start_Time'].dt.minute


# How long did the accident impact traffic (getting some fishy times ex: over 3 years!)
accidents['Impact_Time_Min'] = (accidents['End_Time'] - accidents['Start_Time']).dt.total_seconds() / 60 

# get the cols in list form
cols = get_cols(accidents)
print(cols)

['ID', 'Severity', 'Start_Time', 'End_Time', 'Start_Lat', 'Start_Lng', 'End_Lat', 'End_Lng', 'Distance(mi)', 'Description', 'Number', 'Street', 'Side', 'City', 'County', 'State', 'Zipcode', 'Country', 'Timezone', 'Airport_Code', 'Weather_Timestamp', 'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)', 'Wind_Direction', 'Wind_Speed(mph)', 'Precipitation(in)', 'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way', 'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop', 'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset', 'Civil_Twilight', 'Nautical_Twilight', 'Astronomical_Twilight']

In [44]:
#accidents['Start_Time']
#datetime.combine(date.min, end) - datetime.combine(date.min, beginning)
#start = accidents['Start_Time'][1000] 
#end = accidents['End_Time'][1000]
#accidents[accidents['Impact_Time'] == accidents['Impact_Time'].max()]
#accidents['Impact_Time_Min'].sort_values(ascending = False)
#accidents[accidents['Impact_Time'] > 1000000]

In [73]:
geometry = geopandas.points_from_xy(accidents['Start_Lng'], accidents['Start_Lat'])
geo_df = geopandas.GeoDataFrame(
    accidents[['Start_Lat','Start_Lng','Severity','Weather_Condition']], geometry=geometry
)

geo_df.head()

,Start_Lat,Start_Lng,Severity,Weather_Condition,geometry
0,40.108910,-83.092860,3,Light Rain,POINT (-83.09286 40.10891)
1,39.865420,-84.062800,2,Light Rain,POINT (-84.06280 39.86542)
2,39.102660,-84.524680,2,Overcast,POINT (-84.52468 39.10266)
3,41.062130,-81.537840,2,Overcast,POINT (-81.53784 41.06213)
4,39.172393,-84.492792,3,Light Rain,POINT (-84.49279 39.17239)

In [51]:
(accidents['End_Time'] - accidents['Start_Time']).dt.total_seconds().max()

3.210048999033374

In [72]:
#plt.box(accidents['Impact_Time'])

In [26]:
accidents['End_Time']

0         2016-02-08 06:37:08
1         2016-02-08 11:56:20
2         2016-02-08 12:15:39
3         2016-02-08 12:51:45
4         2016-02-08 13:53:43
                  ...
2845337   2019-08-23 18:32:01
2845338   2019-08-23 19:38:23
2845339   2019-08-23 19:28:49
2845340   2019-08-23 19:29:42
2845341   2019-08-23 19:21:31
Name: End_Time, Length: 2845342, dtype: datetime64[ns]

In [27]:
accidents['Start_Time']

0         2016-02-08 00:37:08
1         2016-02-08 05:56:20
2         2016-02-08 06:15:39
3         2016-02-08 06:51:45
4         2016-02-08 07:53:43
                  ...
2845337   2019-08-23 18:03:25
2845338   2019-08-23 19:11:30
2845339   2019-08-23 19:00:21
2845340   2019-08-23 19:00:21
2845341   2019-08-23 18:52:06
Name: Start_Time, Length: 2845342, dtype: datetime64[ns]

In [3]:
accidents.describe()

,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,2.845342e+06,1.101431e+06,2.776068e+06,2.375699e+06,2.772250e+06,2.786142e+06,2.774796e+06,2.687398e+06,2.295884e+06
mean,2.137572e+00,3.624520e+01,-9.711463e+01,3.624532e+01,-9.711439e+01,7.026779e-01,8.089408e+03,6.179356e+01,5.965823e+01,6.436545e+01,2.947234e+01,9.099391e+00,7.395044e+00,7.016940e-03
std,4.787216e-01,5.363797e+00,1.831782e+01,5.363873e+00,1.831763e+01,1.560361e+00,1.836009e+04,1.862263e+01,2.116097e+01,2.287457e+01,1.045286e+00,2.717546e+00,5.527454e+00,9.348831e-02
min,1.000000e+00,2.456603e+01,-1.245481e+02,2.456601e+01,-1.245457e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.000000e+00,3.344517e+01,-1.180331e+02,3.344628e+01,-1.180333e+02,5.200000e-02,1.270000e+03,5.000000e+01,4.600000e+01,4.800000e+01,2.931000e+01,1.000000e+01,3.500000e+00,0.000000e+00
50%,2.000000e+00,3.609861e+01,-9.241808e+01,3.609799e+01,-9.241772e+01,2.440000e-01,4.007000e+03,6.400000e+01,6.300000e+01,6.700000e+01,2.982000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.000000e+00,4.016024e+01,-8.037243e+01,4.016105e+01,-8.037338e+01,7.640000e-01,9.567000e+03,7.600000e+01,7.600000e+01,8.300000e+01,3.001000e+01,1.000000e+01,1.000000e+01,0.000000e+00
max,4.000000e+00,4.900058e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,1.551860e+02,9.999997e+06,1.960000e+02,1.960000e+02,1.000000e+02,5.890000e+01,1.400000e+02,1.087000e+03,2.400000e+01

In [17]:
# How many accidents of varying severity
accidents['Severity'].value_counts().sort_index()

1      26053
2    2532991
3     155105
4     131193
Name: Severity, dtype: int64